body {
    font-size: 24px;
}

h1 {
    font-size: 24px;
    background: violet;
    color: black;
    text-align: center;
    border: 10%;
}

#hangman-header {
    padding: 3%;
    margin: 4%;
    background: blueviolet;
}

hr {
    margin: 2rem;
}

#characters-container {
    display: flex;
    justify-content: center;
}

#characters-container > div {
    background: pink;
    padding: 1rem;
    margin: .5rem;  
}