body {
    font-size: 24px;
}

h1 {
    font-size: 24px;
    background: rgb(109, 22, 109);
    color: black;
    text-align: center;
    border: 10%;
}

#hangman-header {
    padding: 3%;
    margin: 4%;
    background: blueviolet;
}

hr {
    margin: 2rem;
}

#characters-container {
    display: flex;
    justify-content: center;
}

#characters-selected {
    background: rgb(86, 51, 184);
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
}

#characters-selected > div {
    margin: .5rem;
}
#characters-selected > div.isCorrect {
    color: lightblue;
    font-weight: bold;
}
#characters-selected > div:not(.isCorrect) {
    color: red;
    font-weight: bold;
}

#characters-container > div {
    background: pink;
    padding: 1rem;
    margin: .5rem;  
}

p {
    background: white;
}

footer {
    padding: 1.5%;
    clear: both;
    font-size: 12px;
    color: #cccccc;
    text-align: center;
    background: purple;
    border-top: 8px solid #4aaaa5;
    height: 10.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
}